@import "./reset.css";

html,
body {
  min-height: 100vh;
  caret-color: white;
}

body {
  background: #2e3440;
  color: #eceff4;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  font-family: "Roboto", sans-serif;
}

#output {
  padding: 2rem;
  width: 50%;
  overflow: auto;
}

#left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

#left > * {
  flex: 1;
}

#left label {
  display: block;
  margin: 1.5em;
}

.codeflask__textarea {
  caret-color: white !important;
}
.codeflask {
  background: #4c566a;
}
.codeflask .token.punctuation {
  color: #5e81ac;
}
.codeflask .token.keyword {
  color: #8500ff;
}
.codeflask .token.operator {
  color: #ff5598;
}
.codeflask .token.string {
  color: #41ad8f;
}
.codeflask .token.comment {
  color: #9badb7;
}
.codeflask .token.function {
  color: #8500ff;
}
.codeflask .token.boolean {
  color: #8500ff;
}
.codeflask .token.number {
  color: #8500ff;
}
.codeflask .token.selector {
  color: #8500ff;
}
.codeflask .token.property {
  color: #8500ff;
}
.codeflask .token.tag {
  color: #8500ff;
}
.codeflask .token.attr-value {
  color: #8500ff;
}

#values,
#template {
  position: relative;
  width: auto;
  height: 100%;
}
