PUBSUB_EMULATOR_HOST=localhost:8086
LOG_LEVEL=debug
HTTP_BIND_ADDRESS=127.0.0.1:8080
GRPC_BIND_ADDRESS=127.0.0.1:4444
FASIT_DBCONN_STRING=postgres://postgres:postgres@localhost:5432/fasit?sslmode=disable
GCP_PROJECT_ID=nais-local-dev
PUBSUB_STATUS_SUBSCRIPTION_ID=fasit-subscription
INSECURE_SKIP_PROXY=true
INSECURE_SKIP_TOKEN_CHECK=true
IAP_AUDIENCE=
SLACK_API_TOKEN=
SLACK_CLUSTER_UPGRADE_CHANNEL=
SLACK_CHANNEL_FEATURE_ALERTS=